<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
            <img src="../public/img/logo-mercado-liebre.svg" alt="Logo Mercado Libre" width="400px"; height="200px">
        <div id="SearchPop">        
            <input type="text" placeholder="Buscar productor, marcas.."></input>
        </div>
        <div id="Split1">
            <h1>Compra en cuotas y sin tarjeta de credito</h1>
        </div>
        <div id="MainTAB">
            <ul type="none">
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
                <br>
                <li>Crea tu cuenta</li>
                <li>Ingresa</li>
                <li>Mis compras</li>
            </ul>
        </div>
    </header>
    <main>  
        
    </main>
    <footer>
        
    </footer>

    
</body>
</html>