<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100&display=swap" rel="stylesheet">
    <title>Document</title>
    <meta name =”viewport” content =“width=device-width, initial-scale=1.0”/>
</head>
<body>
    <header id="cabecera1">
        <div id="meanLogo">
            <img src="../public/img/logo-mercado-liebre.svg" alt="Logo Mercado Libre" width="60%"; height="40%">
        </div>    
        <div id="searchPop">        
            <input type="text" placeholder="Buscar productos, marcas.."><br>
            <button id="buttonSearchPop"><i class="fa-solid fa-magnifying-glass fa-lg"></i></button>
        </div>
        <div id="Split1">
            <h3 id="cYc"><i class="fa-solid fa-hand-holding-dollar fa-sm" style="color: #666666;"></i></i> Comprá en cuotas y sin tarjeta de crédito</h3>
        </div>
        <div id="MainTAB">
            <ul type="none">
                <li>Ofertas </li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
                <br>
                <li>Creá tu cuenta <i class="fa-regular fa-address-card" style="color: #03264c;"></i></i></li>
                <li>Ingresá <i class="fa-solid fa-right-to-bracket fa-sm" style="color: #03264c;"></i></li>
                <li>Mis compras <i class="fa-solid fa-basket-shopping" style="color: #03264c;"></i></li>
            </ul>
            <br>
            
            
             
        </div>
        <div id="botonCenter">
            <button id="menu1"><i class="fa-solid fa-bars fa-xl" style="color: #ffffff;"></i></button>
        </div><br>
        <div id="fachada1">
            <img src="../public/img/img-home-banner.jpg" alt="">
        </div> 
    </header>
    <main id="main1"> 
        
        <section class="store1">
            <h3>Basado en su última visita</h3>
            <div class="producto">
                <img class="imgPro" src="../public/img/img-macbook-pro-2019.jpg" width="200" height="200">
                                   
                    <ul class="listaP"  type="none">
                        <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
                        <li class="precio">$550.000</li>
                        <li class="discount">15% off</li>
                        <br>
                        <li class="type">Pro 2019</li>
                    </ul>
                   
            </div>
            <div class="producto">
                <img class="imgPro"  src="../public/img/img-tv-samsung-smart.jpg" width="200" height="200"> 

                    <ul class="listaP"  type="none">
                            <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
                            <li class="precio">$70.000</li>
                            <li class="discount">10% off</li>
                            <br>
                            <li class="type">Samsung Smart tv Led</li>
                    </ul>

            </div>
        </section>
        <section class="store1">
            <h3>Ofertas</h3>
            <div class="producto">
                <img class="imgPro"  src="../public/img/img-cafetera-moulinex.jpg" width="200" height="200">
                                    
                    <ul class="listaP" type="none">
                        <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
                        <li class="precio">$20.000</li>
                        <li class="discount">5% off</li>
                        <br>
                        <li class="type">Cafetera Moulinex</li>
                    </ul>
                    
            </div>
            <div class="producto">
                <img class="imgPro"  src="../public/img/img-tv-samsung-smart.jpg" width="200" height="200">
                
                    <ul class="listaP"  type="none">
                        <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
                        <li class="precio">$70.000</li>
                        <li class="discount">10% off</li>
                        <br>
                        <li class="type">Samsung Smart tv Led</li>
                    </ul>
                
            </div>
        </section>
        <br>
    </main>
    <footer>
        <section class="footer1" id="pie1">
            <div class="iconsFoot"><i class="fa-solid fa-credit-card" style="color: #03264c;"></i></div>
            <h4>Pagá con tarjeta o efectivo</h4>
            <p>Con MercadoLiebreCash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>    
        <section class="footer1" id="pie2">
            <div class="iconsFoot"><i class="fa-solid fa-gift" style="color: #03264c;"></i></i></div>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="footer1" id="pie3">
            <div class="iconsFoot"><i class="fa-solid fa-user-shield" style="color: #03264c;"></i></div>
            <h4>Seguridad de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
            </p>
        </section>
        <section class="footer2" id="pie4">
            <h4 style="font-size: 13px; color: #ebebeb;">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </section>
        
    </footer>
    <script src="https://kit.fontawesome.com/6d6ec403c5.js" crossorigin="anonymous"></script>
</body>
</html>