
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    
}       
/*Header*/

#cabecera1{
    
    background-color: #eac926;
    color: #666;
}
#padre1{
    text-align: center;
}
#meanLogo{
    padding-top: 1em;
}
#Split1{
    text-align: center;
    padding: 1em;
}
#searchPop{
    display: flex; 
    align-items: center;
}
#buttonSearchPop{
    
    padding: 5px 2px;
}
#cYc{text-align: center;}

#botonCenter{
    display: flex;
  justify-content: center;
}
#menu1{

    background-color: #1259c3;
    border-radius: 7px;
    width: 40px;
    height: 45px;
}
#fachada1 img{
    width: 100%;
    height: auto;
}

/*main*/
#main1{
    text-align: center;
    width: 90%;
    margin: auto;
    background-color: #ebebeb;
    padding: 6px;
}
#fachada1{
    display: flex; justify-content: center; align-items: center;
    
}

.store1 h3{
    font-size: 23px;
    text-align: center;
}
.producto{
    width: 65%;
    margin: auto;
    border: 1px solid #ebebeb;
    background-color:white ;
    
}
.imgPro{
    max-width: 100%; /* La imagen se ajustará automáticamente al tamaño del contenedor */
      height:auto;
} 
.listaP{
    text-align: center;
    border: 1px solid #ebebeb;
    padding: 15px;
    
    
}
.precio{font-size: 18px;}

.discount{
    font-size: 16px;
    color:#39b54a;
}

.type{font-size: 16px;}

/*Footer*/
.footer1{
    text-align: center;
}
.footer1 p{
    color: #666;
}
.iconsFoot{
    margin-bottom: 10px;
    font-size: 2em;
}
/*mobil*/
@media (max-width:361px) {
    #MainTAB{display: none;}

}
/*tablet*/
@media   (min-width:362px)and(max-width:768px) {
    /*box-shadow: 0px 0px 10px rgb (100 , 100 , 100);*/
    #listasa{
        font-size: 6px;}
}
/*tablet & mobile*/

@media (min-width:362px) {
    #botonCenter{display: none;}
    /*Header*/

    #padre1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;}
    }
    /*body*/
    #MainTAB{height:10px;
    }
    #listasa{
        font-size: 14px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-around;
    }