
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}       
/*Header*/

#cabecera1{
    background-color: #eac926;
    color: #666;
}
#buttonSearchPop{
    padding: 5px 2px;
}
#cYc{text-align: center;}

#botonCenter{
    display: flex;
  justify-content: center;
}
#menu1{

    background-color: #1259c3;
    border-radius: 7px;
    width: 40px;
    height: 45px;
}


/*main*/
#main1{
    text-align: center;
    width: 90%;
    margin: auto;
    background-color: #ebebeb;
    padding: 6px;

}
.store1 h3{
    font-size: 23px;
    text-align: center;
}
.producto{
    width: 65%;
    margin: auto;
    border: 1px solid #ebebeb;
    background-color:white ;
    
}
.imgPro{
    max-width: 100%; /* La imagen se ajustará automáticamente al tamaño del contenedor */
      height:auto;
} 
.listaP{
    text-align: center;
    border: 1px solid #ebebeb;
    padding: 15px;
    
    
}
.precio{font-size: 18px;}

.discount{
    font-size: 16px;
    color:#39b54a;
}

.type{font-size: 16px;}

/*Footer*/
.footer1{
    text-align: center;
}
.footer1 p{
    color: #666;
}
.iconsFoot{
    margin-bottom: 10px;
    font-size: 2em;
}

